<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INHEE LEE</title>
  <!-- 스타일 불러오기 -->
  <link rel="stylesheet" href="/InheeAcademy/css/inhee_style1.css">

  <!-- 폰트 링크 -->
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap" rel="stylesheet">

  <!-- 외부 링크 -->

</head>

<body>
  <!-- 상단 부분 top_content -->
  <div class="top_content">
    <!-- logo 부분 logo -->
    <div class="logo"> <!-- 로고 클릭 시 메인화면으로 이동 -->
      <a href="inhee_Main.html">
        <img src="/InheeAcademy/image/logo1.png">
        <h1>인희의 영어학원</h1>
      </a>
    </div> <!-- logo 끝 -->
    <!-- 메인 메뉴 부분 main_nav -->
    <div class="main_nav">
      <ul>
        <li><a href="inhee_Main.html">메인화면으로</a></li>
        <li><a href="inhee_intro.html">학원소개</a></li>
        <li><a href="inhee_teacher_intro.html">강사진소개</a></li>
        <li><a href="inhee_class.html">학원 반편성 및 등록문의</a></li>
        <li><a href="inhee_passer.html">올해의 합격자들</a></li>
        <li><a href="inhee_map.html">오시는 길</a></li>
      </ul>
    </div> <!-- main_nav 끝 -->
  </div> <!-- top_content 끝 -->
  <div class = "section">
    <div class = "article">
      <h2>인희의 영어학원은 이렇게 가르칩니다.</h2>
  
      <div class = "education_plan">
        <div class = "step">
          <div class = "plan_left">
            <img src = "/InheeAcademy/image/1.png">
          </div>
          <div class = "plan_right">
            <ul>
              <li>STEP 1 : 빠른 개념 정리</li>
              <li> 아무리 문제를 풀어도 개념이 정리되어 있지 않으면</li>
              <li> 다른 같은 유형의 문제를 다시 풀게 되었을 때 틀릴 수 있습니다.</li>
              <li> 따라서 유형별로 개념을 정리하여 문제를 풀어나가는데</li>
              <li> 필요한 기초를 다지게 됩니다.</li>
            </ul>
          </div>
        </div>  <!-- step 끝 -->
        <div class = "step">
          <div class = "plan_left">
            <img src = "/InheeAcademy/image/2.png">
          </div>
          <div class = "plan_right">
            <ul>
              <li>STEP 2 : 단어</li>
              <li>  개념 다음으로 중요한 것이 단어 암기라고 생각하는데요.</li>
              <li> 저희뿐만아니라 많은 영어 교육자들이 단어를 강조합니다.</li>
              <li> 개념을 다짐과 동시에, 단어 암기 학습을 통해</li>
              <li> 영어를 배우는 틀을 만듭니다.</li>
            </ul>
          </div>
        </div>  <!-- step 끝 -->
        <div class = "step">
          <div class = "plan_left">
            <img src = "/InheeAcademy/image/3.png">
          </div>
          <div class = "plan_right">
            <ul>
              <li>STEP 3 : 기초 학습</li>
              <li>개념과 단어가 어느 정도 잡혔다면, 이제부터가 시작입니다.</li>
              <li> 이것을 토대로 Speaking, listening, reading을</li>
              <li> 학습하게 됩니다.</li>
            </ul>
            
          </div>
        </div>  <!-- step 끝 -->
        <div class = "step">
          <div class = "plan_left">
            <img src = "/InheeAcademy/image/4.png">
          </div>
          <div class = "plan_right">
            <ul>
              <li>STEP 4 : 심화학습</li>
              <li> 기초만 배워서는 시험에서 좋은 점수를 받을 수 없습니다.</li>
              <li> 그렇기에 기초를 튼튼히 다져놓고, 고난도 문제를 풀어낼 수</li>
              <li> 있도록 심화 학습을 병행하게 됩니다.</li>
            </ul>
  
          </div>
        </div> <!-- step 끝 -->
        <div class = "step">
          <div class = "plan_left">
            <img src = "/InheeAcademy/image/5.png">
          </div>
          <div class = "plan_right">
            <ul>
              <li>STEP 5 : 올바른 인성</li>
              <li> 가장 중요한 덕목이라고 생각됩니다.</li>
              <li> 아무리 성적이 좋고, 학벌이 좋고, 엄청난 부를 가지더라도</li>
              <li> 인성이 올바르지 않다면 좋은 인재가 아니라고 생각합니다.</li>
              <li> 원내생활에서 예절을 강조하여 훌륭한 인재를 만들겠습니다.</li>
            </ul>
          </div>
        </div> <!-- step 끝 -->
      </div> <!-- education_plan 끝 -->  
    </div> <!-- article 끝 -->
  </div> <!-- section 끝 -->
  <!-- 하단 부분 footer -->
  <div class = "footer"> 
    <!-- 주소가 있는 부분 -->
    <div class="addr">
      <ul>
        <li>(우)08104 서울특별시 양천구 목동남로4길 6-23&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;문의전화 010-9517-9533&nbsp;&nbsp;</li>
        <li>Copyright &copy; INHEE LEE All Right Reserved</li>
      </ul>
    </div> <!-- addr 끝 -->
  </div> <!-- footer끝 -->
</body>
</html>