<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INHEE LEE</title>
  <!-- 스타일 불러오기 -->
  <link rel="stylesheet" href="/InheeAcademy/css/inhee_style1.css">

  <!-- 폰트 링크 -->
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap" rel="stylesheet">

  <!-- 외부 링크 -->

</head>
<body>
    <!-- 상단 부분 top_content -->
    <div class="top_content">
      <!-- logo 부분 logo -->
      <div class="logo"> <!-- 로고 클릭 시 메인화면으로 이동 -->
        <a href="inhee_Main.html">
          <img src="/InheeAcademy/image/logo1.png">
          <h1>인희의 영어학원</h1>
        </a>
      </div> <!-- logo 끝 -->
      <!-- 메인 메뉴 부분 main_nav -->
      <div class="main_nav">
        <ul>
          <li><a href="inhee_Main.html">메인화면으로</a></li>
          <li><a href="inhee_intro.html">학원소개</a></li>
          <li><a href="inhee_teacher_intro.html">강사진소개</a></li>
          <li><a href="inhee_class.html">학원 반편성 및 등록문의</a></li>
          <li><a href="inhee_passer.html">올해의 합격자들</a></li>
          <li><a href="inhee_map.html">오시는 길</a></li>
        </ul>
      </div> <!-- main_nav 끝 -->
    </div> <!-- top_content 끝 -->
    <!-- 중앙 부분 -->
    <div class = "section">
      <div class = "article">
        <h2>학원 반편성</h2>
      </div>
      <div class = "article">
        <table border ="1">
          <tr>
            <td class = "table_title">클래스명</td>
            <td class= "table_content">내용</td>
          </tr>
          <tr>
            <td class = "table_title">중1 내신반</td>
            <td class= "table_content">학교 내신을 기초로 하고 있는 클래스</td>
          </tr>
          <tr>
            <td class = "table_title">중2 내신반</td>
            <td class= "table_content">학교 내신을 기초로 하고 있는 클래스</td>
          </tr>
          <tr>
            <td class = "table_title">중3 내신반</td>
            <td class= "table_content">학교 내신을 기초로 하고 있는 클래스</td>
          </tr>
          <tr>
            <td class = "table_title">중등 First Class</td>
            <td class= "table_content">특목고 진학 또는 선행학습을 위한 클래스</td>
          </tr>
          <tr>
            <td class = "table_title">고1 내신 + 수능대비 통합반</td>
            <td class= "table_content">학교 내신을 기초로 하며 수능대비까지 하는 클래스</td>
          </tr>
          <tr>
            <td class = "table_title">고2 내신 + 수능대비 통합반</td>
            <td class= "table_content">학교 내신을 기초로 하며 수능대비까지 하는 클래스</td>
          </tr>
          <tr>
            <td class = "table_title">고3 내신 + 수능대비 통합반</td>
            <td class= "table_content">학교 내신을 기초로 하며 수능대비까지 하는 클래스</td>
          </tr>

        </table> <!-- table 끝 -->
        <br/>
        <h3>학원 등록 관련 문의는 010-9517-9533 으로 연락 남겨주세요.</h3>
      </div> <!-- article 끝 -->
    </div> <!-- section 끝-->

    <!-- 하단 부분 footer -->
    <div class = "footer"> 
      <!-- 주소가 있는 부분 -->
      <div class="addr">
        <ul>
          <li>(우)08104 서울특별시 양천구 목동남로4길 6-23&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;문의전화 010-9517-9533&nbsp;&nbsp;</li>
          <li>Copyright &copy; INHEE LEE All Right Reserved</li>
        </ul>
      </div> <!-- addr 끝 -->
    </div> <!-- footer끝 -->
</body>
</html>