<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INHEE LEE</title>
  <!-- 스타일 불러오기 -->
  <link rel="stylesheet" href="/InheeAcademy/css/inhee_style1.css">

  <!-- 폰트 링크 -->
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap" rel="stylesheet">

  <!-- 외부 링크 -->

</head>
<body>
    <!-- 상단 부분 top_content -->
    <div class="top_content">
      <!-- logo 부분 logo -->
      <div class="logo"> <!-- 로고 클릭 시 메인화면으로 이동 -->
        <a href="inhee_Main.html">
          <img src="/InheeAcademy/image/logo1.png">
          <h1>인희의 영어학원</h1>
        </a>
      </div> <!-- logo 끝 -->
      <!-- 메인 메뉴 부분 main_nav -->
      <div class="main_nav">
        <ul>
          <li><a href="inhee_Main.html">메인화면으로</a></li>
          <li><a href="inhee_intro.html">학원소개</a></li>
          <li><a href="inhee_teacher_intro.html">강사진소개</a></li>
          <li><a href="inhee_class.html">학원 반편성 및 등록문의</a></li>
          <li><a href="inhee_passer.html">올해의 합격자들</a></li>
          <li><a href="inhee_map.html">오시는 길</a></li>
        </ul>
      </div> <!-- main_nav 끝 -->
    </div> <!-- top_content 끝 -->
    <!-- 중앙 부분 -->
    <div class = "section">
      <div class = "article">
        <h1>선생님 소개</h1>
        <div class = "teacher_list">
          <div class = "image">
            <img src = "/InheeAcademy/image/인희.PNG" alt="이미지 없음">  
          </div>
          <div class = "content">
            <ul>
              <li><span class = "teacher_name">이름 : </span>이인희</li>
              <li><span class = "teacher_info">학력 : </span>한국외국어대학교 재학중</li>
              <li><span class = "teacher_info">경력 : </span>영어학원 조교 1년(2016.06 ~ 2016.12,&nbsp;&nbsp;2021.06 ~ 2021.12)</li>
              <li><span class = "teacher_info">기타 : </span>인희의 영어학원장</li>
            </ul>
          </div>
        </div> <!-- teacher_list 끝 -->
        <div class = "teacher_list">
          <div class = "image">
            <img src = "/InheeAcademy/image/윤희.PNG" alt="이미지 없음">  
          </div>
          <div class = "content">
            <ul>
              <li><span class = "teacher_name">이름 : </span>이윤희</li>
              <li><span class = "teacher_info">학력 : </span>서울대학교 대학원 재학중</li>
              <li><span class = "teacher_info">경력 : </span>수학학원 조교 1년(2015.01 ~ 2015.12)</li>
              <li><span class = "teacher_info">기타 : </span>TOEIC 900점</li>
            </ul>
          </div>
        </div>  <!-- teacher_list 끝 -->
        <div class = "teacher_list">
          <div class = "image">
            <img src = "/InheeAcademy/image/의문의 고수.PNG" alt="이미지 없음">  
          </div>
          <div class = "content">
            <ul>
              <li><span class = "teacher_name">이름 : </span>의문의 고수</li>
              <li><span class = "teacher_info">학력 : </span>한국외국어대학교 영문학과 학사</li>
              <li><span class = "teacher_info">경력 : </span>영어강사 (2012 ~ 현재)</li>
              <li><span class = "teacher_info">기타 : </span>TOEIC 990점, 서연고 50명이상 배출, 서성한 200명 이상 배출</li>
            </ul>
          </div>
        </div>  <!-- teacher_list 끝 -->
      </div>  <!-- article 끝 -->
  
    </div> <!--section 끝 -->
    <!-- 하단 부분 footer -->
    <div class = "footer"> 
      <!-- 주소가 있는 부분 -->
      <div class="addr">
        <ul>
          <li>(우)08104 서울특별시 양천구 목동남로4길 6-23&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;문의전화 010-9517-9533&nbsp;&nbsp;</li>
          <li>Copyright &copy; INHEE LEE All Right Reserved</li>
        </ul>
      </div> <!-- addr 끝 -->
    </div> <!-- footer끝 -->
</body>
</html>